<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring MVC + Thymeleaf + Send email</title>
</head>
<body>
	<h2>Thymeleaf - Send Email</h2>

	<!--/*@thymesVar id="mailBox" type="stackjava.com.springthymeleaf.controller"*/-->
	<form th:action="@{/sendEmail}" th:object="${mailBox}" method="post">
		<table>
			<tr>
				<td>To:</td>
				<td><input th:field="*{recipientEmail}" /></td>
			</tr>
			<tr>
				<td>Subject:</td>
				<td><input th:field="*{subject}" /></td>
			</tr>
			<tr>
				<td>Message:</td>
				<td><textarea rows="5" cols="30" th:field="*{message}"></textarea>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>

</body>
</html>

